* {
  margin: 0px;
  padding: 0px;
}
hr {
  margin: 10px 0px;
}
.encabezado {
  width: 100%;
  height: auto;
  margin: 20px 0px;
}
.contenedor1 {
  background-color: #474747;
}
.title1 {
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding: 20px;
}
